<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>High Scores</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/highscore_style.css') }}"
    />
  </head>
  <body>
    <div class="page-container">
      <div class="container">
        <button id="back-button">Go Back</button>
        <h1>High Scores</h1>
        <div class="highscores-container">
          <table class="highscores-table">
            <thead>
              <tr>
                <th>Username</th>
                <th>Score</th>
              </tr>
            </thead>
            <tbody>
              {% for score in highscores %}
              <tr>
                <td>{{ score[0].split('@')[0] }}</td>
                <td>{{ score[1] }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/highscore_script.js') }}"></script>
  </body>
</html>
