<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login_style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Login</h1>
      <form id="login-form" action="{{ url_for('login') }}" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
        <br />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        <br />
        <button type="submit">Login</button>
      </form>

      <h1>Create Account</h1>
      <form id="register-form" action="{{ url_for('register') }}" method="post">
        <label for="reg-email">Email:</label>
        <input type="email" id="reg-email" name="reg_email" required />
        <br />
        <label for="reg-password">Password:</label>
        <input type="password" id="reg-password" name="reg_password" required />
        <br />
        <button type="submit">Register</button>
      </form>

      <div class="guest-login">
        <h1>Guest Login</h1>
        <button id="guest-signin">Continue as Guest</button>
      </div>
      <p class="description">
        Welcome to the CITS3403 Hangman Web-App. Created by Blake, Farrel &
        Zarhmon. This app uses HTML, CSS, Javascript, MySQL & Flask to create a
        game of hangman for the user to play.
      </p>
    </div>

    <script src="{{ url_for('static', filename='js/login_auth.js') }}"></script>
  </body>
</html>
