<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat Interface Wireframe</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main_style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="user-info">
        <img id="user-avatar" src="" alt="User Avatar" />
        <span id="user-name"></span>
        <button id="sign-out">Sign out</button>
      </div>
      <div class="chat-box"></div>
      <div class="chat-input">
        <input type="text" placeholder="Type your message here..." />
        <input type="submit" value="Send" />
      </div>
    </div>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="{{ url_for('static', filename='js/login_auth.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main_script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/hangman.js') }}"></script>
  </body>
</html>
